/*reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/*body*/
body{
    font-family: 'Poppins' , sans-serif;
}
/*wrapper*/
.wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #e5e5e5;
}
/*container*/
.container{
    margin-top: 200px;
    max-width: 816px;
    width: 100%;
    margin-inline: auto;
    background: #f7f7f7;
    box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    cursor: default;
}
/*wave*/
.wave{
    margin-bottom: 53px;
}
/*title*/
.title {
    margin-bottom: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}
/*description*/
.description {
    margin-bottom: 38px;
    max-width: 380px;
    width: 100%;
    margin-inline: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
/*btn*/
.btn {
    margin-bottom: 50px;
    background: linear-gradient(270deg, #0075FF 3.87%, #00B2FF 127.1%);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    /*
    align-items: center;
    */
    gap: 10px;
    margin-inline: auto;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s;

}
.btn:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
/*social*/
.social {
    display: flex;
    gap: 30px;
    margin-inline: auto;
    justify-content: center;
    padding-bottom: 64px;
}
.social a:first-of-type{
    width: 43px; height: 39px;
    background: url('css_sprites.png') -5px -5px;
}
.social a:nth-of-type(2){
    width: 40px; height: 40px;
    background: url('css_sprites.png') -58px -5px;

}
.social a:last-of-type {
    width: 40px; 
    height: 40px;
    background: url('css_sprites.png') -5px -54px;
}